<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544680987350-q5n2n2jufck8hsqrql449h22s5tqk6vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544680987350-q5n2n2jufck8hsqrql449h22s5tqk6vo</string>
	<key>API_KEY</key>
	<string>AIzaSyBZsLQrbTCBFn-hmWdHkJokxze18oZK2W8</string>
	<key>GCM_SENDER_ID</key>
	<string>544680987350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.manoelVarela</string>
	<key>PROJECT_ID</key>
	<string>condominus-14912</string>
	<key>STORAGE_BUCKET</key>
	<string>condominus-14912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544680987350:ios:352099818aec1f08d0d777</string>
</dict>
</plist>